<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Front End Flows</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <style type="text/css">
      .reveal section img { box-shadow:none;border:none;background:transparent; }
    </style>

  </head>
  <body>
    <div class="reveal">
      <div class="slides">

        <section style="text-align: left;" data-transition="fade" data-background="#4d7e65" data-background-transition="fade">
          <h2>Front End Flows</h2>
          <p>
            <a href="https://nodejs.org/en/" target="_blank">Node</a> - 
            <a href="https://www.javascript.com/" target="_blank">Javascript</a> - 
            <a href="http://es6-features.org/" target="_blank">ES6</a> - 
            <a href="https://babeljs.io/" target="_blank">Babel</a>
            <br>
            <a href="https://www.npmjs.com/" target="_blank">Npm</a> - 
            <a href="https://yarnpkg.com/en/" target="_blank">Yarn</a> - 
            <a href="https://pbs.twimg.com/media/C9zHgqrXoAE0Tnu.jpg" target="_blank">node_modules</a>
            <br>
            <a href="https://webpack.github.io/" target="_blank">Webpack</a>
            <br>
            <a href="https://vuejs.org/" target="_blank">Vue.js 2</a>
            <br>
            <a href="http://facebook.github.io/flux/" target="_blank">FLUX</a>
            <br>
            <a href="https://github.com/vuejs/vuex" target="_blank">VueX</a>
            <br>
            <a href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en" target="_blank">Time Travel</a>
          </p>          
        </section>

        <section>
          <section>
            <h2>Node/Javascript</h2>
            <p>2009 - ES5</p>
            <p>2015 - ES6/ES2015</p>
          </section>

          <section>
            <p>Block-Scoped Constructs const/let</p>
            <pre class="javascript" data-trim contenteditable><code>const max = 5
for (let i = 0; i < max; i++) {
  setTimeout(function(){
    console.log(i)
  }, i*1000)
}
// using var => 5, 5, 5, 5, 5
// using let => 0, 1, 2, 3, 4</code></pre>
          </section>

          <section>

            <p>Object Destructuring Assignement </p>
            <pre class="javascript" data-trim contenteditable><code>let [head,...tail] = 'hello'
console.log(head, tail.join('')) // -> h ello

const object = { a:0, b:1, c:2, d:{ d2:3 } }
const { a, b, c:cAlias, d:{d2:dAlias} } = object
console.log(a, b, cAlias, dAlias) // -> 0 1 2 3
</code></pre>
          
          </section>

          <section>
            <p>Template literals + Multiline strings</p>
            <pre class="javascript" data-trim contenteditable><code>let name = 'Bob'
let message = `
  Dear ${name.capitalize()},
  This is a multiline message!
`
console.log(message)</code></pre>
          </section>

          <section>
            <p>Default parameters</p>
            <pre class="javascript" data-trim contenteditable><code>echo = (foo='anonymous') => foo
console.log(echo('kim')) // -> kim
console.log(echo())      // -> anonymous</code></pre>
          </section>

          <section>
            <p>Arrow functions</p>
            <pre class="javascript" data-trim contenteditable><code>setTimeout( () => console.log('🤖'), 2000)
// -> 🤖

document.body.onclick = (event) => 
  console.log('click X: %s', event.screenX)
// -> click X: 543
</code></pre>
          </section>

          <section>
            <p>Promises</p>
            <pre class="javascript" data-trim contenteditable><code>let asyncTask = () => new Promise((resolve, reject)=> {
  setTimeout(resolve, Math.random()*2000)
})
let progress = 0
asyncTask()
  .then(()=> console.log('progress', progress++))
  .then(asyncTask)
  .then(()=> console.log('progress', progress++))
  .then(asyncTask)
  .then(()=> console.log('progress', progress))
  .catch((error) => console.log('ERROR:', error))
</code></pre>
          </section>

          <section>
            <p>Classes</p>
            <pre class="javascript" data-trim contenteditable><code>class Button {
  constructor (label='Home') {
    this.label = label
  }
  sayLabel () {
    console.log(' -> ', this.label)
  }
}</code></pre>
            <pre class="javascript" data-trim contenteditable><code>class BackButton extends Button {
  constructor () {
    super('Back')
  }
}</code></pre>
            <pre class="javascript" data-trim contenteditable><code>let btn = new Button()
let backBtn = new BackButton()
btn.sayLabel()     // -> Home
backBtn.sayLabel() // -> Back</code></pre>
          </section>

          <section>
            <p>Generators</p>
            <pre class="javascript" data-trim contenteditable><code>function *sayTwoWords() {
  let word1 = yield 'word 1';
  let word2 = yield 'word 2';
  console.log(word1 + ' ' + word2);
}

let generator = sayTwoWords();
generator.next()
generator.next('Hello')
generator.next('World')
</code></pre>
          </section>
        </section>

        <section>
          <h3>Hello Vue.js</h3>
          <pre><code class="hljs" data-trim contenteditable>
          <div id="app">
            <button v-on:click="addOneItem">Add Item</button>
            <input v-model="numItems" type="number" maxlength="2"/>
            <h3>List Items:</h3>
            <ul>
              <li v-for="n in parseInt(numItems)">{{ n }}</li>
            </ul>
          </div>
          </code></pre>
          <pre><code class="javascript" data-trim contenteditable>
          var vm = new Vue({
            el: '#app',
            methods: {
              addOneItem () { this.numItems++ }
            },
            data: {
              numItems: 0
            }
          });
          </code></pre>
          <a target="_blank" href="https://jsfiddle.net/mikatalk/phfv9bea/">demo</a>
        </section>
        
        <section>
          <h3>Webpack wokflow</h3>
          <pre><code class="c" data-trim>
          # install nodejs and package manager
          brew install yarn 
          </code></pre>
          <pre><code class="c" data-trim>
          # install vue cli
          yarn global add vue-cli 
          </code></pre>
          <pre><code class="c" data-trim>
          # list templates available
          vue list
          # bootstrap a webpack project 
          vue init webpack
          </code></pre>
          <pre><code class="shell" data-trim>
          # install dependencies
          yarn
          # run local dev server
          yarn dev
          # build for prod
          yarn build
          # run e2e and unit tests
          yarn test
          </code></pre>
        </section>


        <section style="text-align: left;" data-transition="fade" data-background-transition="fade" data-background="#4d7e65">
          <h1>Is Backbone a MVC?</h1>
          <p class="fragment" style="text-align: left;">
            <span style="font-size:1.5em; color:#42affa">Model</span>
            <span class="fragment">  Backbone Models / Collections</span><br>
            <span style="font-size:1.5em; color:#42affa">View</span>
            <span class="fragment">  Handlebars.js / Underscore Templates</span><br>
            <span style="font-size:1.5em; color:#42affa">Controller</span>
            <span class="fragment">  Backbone Views</span>
          </p>
        </section>
          
        <section>
          <h1>MVC Data Flow</h1>
          <img style="box-shadow:none;border:none;background:transparent;"src="./assets/mvc.svg" />
        </section>

        <section>
          <h3>FLUX - Unidirectional Data Flow</h3>
          <div style="position:relative;">
            <img class="fragment fade-out" 
                 data-fragment-index="0"
                 style="position:absolute;top:0;left:0;box-shadow:none;border:none;background:transparent; min-height:40vh;" 
                 src="./assets/flux.svg" />
            <img class="fragment fade-in" 
                 data-fragment-index="0"
                 style="position:absolute;top:0;left:0;box-shadow:none;border:none;background:transparent; min-height:50vh;" 
                 src="./assets/flux-loop.svg" />
          </div>
        </section>

        <section>
          <h3>Store - basics</h3>
          <p style="text-align: left;" >Single Object</p>
          <p style="text-align: left;" >Read Only</p>
          <p style="text-align: left;" >Dispatch `actions` in order to trigger a state change</p>
          <p style="text-align: left;" >Handle `actions` in <a href="https://en.wikipedia.org/wiki/Pure_function" target="_blank">pure functions</a> called reducers
          <img src="./assets/reducer.svg" /></p> 
        </section>
        
        <section style="text-align: left;" data-transition="slide" data-background="#4d7e65" data-background-transition="fade">
          <h4>Flux - Libraries and Frameworks</h4>
          <h3><a href="http://redux.js.org/"  target="_blank" class="fragment">Redux</a>
          <span class="fragment">React</span><span class="fragment" style="text-transform: none;">, but also Angular, Ember, jQuery, vanilla JS</span>
          </h3>
          <h3 class="fragment" style="text-transform: none;">
            <a href="https://vuex.vuejs.org/en/" target="_blank">VueX</a>
            <span>VueJS</span>
          </h3>
        </section>

        <section>
          <h2>Store Mutations in VueX</h2>
          <img src="./assets/vuex.svg" />
        </section>

        <section>
          <h2>Store State</h2>
          <p>Single State Tree</p>
          <p>Can be split into modules</p>
          <pre><code class="javascript" data-trim>
          const state = {
            count: 0
          }
          </code></pre>
        </section>

        <section>
          <h2>Store Mutations</h2>
          <p>Only way to change the state tree</p>
          <p>Using Reducer, Pure Functions</p>
          <pre><code class="javascript" data-trim>
          const mutations = {
            increment (state) {
              state.count++
            },
            decrement (state) {
              state.count--
            }
          }
          </code></pre>
        </section>

        <section>
          <h2>Store Actions</h2> 
          <p>(A)Synchronous Mutation(s) Dispatcher Functions</p>
          <pre><code class="javascript" data-trim>
          const actions = {
            increment: ({ commit }) => commit('increment'),
            decrement: ({ commit }) => commit('decrement'),
            incrementIfOdd ({ commit, state }) {
              if ((state.count + 1) % 2 === 0) {
                commit('increment')
              }
            },
            incrementAsync ({ commit }) {
              return new Promise((resolve, reject) => {
                setTimeout(() => {
                  commit('increment')
                  resolve()
                }, 1000)
              })
            }
          }
          </code></pre>
        </section>  


        <section data-background="./assets/time-travel.gif" data-transition="fade" data-background-transition="fade">
          <h3>HMR - Time Travel</h3>
          <p>Install <a href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en" target="_blank">Chrome Extension</a><br>
          </p> 
          <pre><code class="bash" data-trim>
          git clone git@github.com:vuejs/vuex.git
          cd vuex
          yarn
          yarn dev
          </code></pre>
        </section>

        <section>
          <video controls loop autoplay>
            <source src="./assets/vuex-plugin.mp4" type="video/mp4">
            video not supported
          </video>
        </section>


      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>
  </body>
</html>
